from typing import Annotated, Literal
from pydantic import Field

from geomeppy.patches import EpBunch

class {{ classname }}(EpBunch):
    {%- if class_memo %}
    """{{ class_memo.strip() }}"""
    {%- endif %}

    {%- if fields %}
    {%- for field in fields %}

    {{ field.name }}: {{ field.type }}{%- if field.field_call %} = {{ field.field_call }}{% endif %}
    {%- if field.note %}
    """{{ field.note.strip() }}"""
    {%- endif %}
    {%- endfor %}
    {%- else %}
    pass
    {%- endif %}
