# {{ package.data.pypi_name }}

[![PyPI - {{ package.data.pypi_name }}]({{ package.url.pypi_badge }})]({{ package.url.pypi }})
[![PyPI - Python Version]({{ package.url.pyversions_badge }})]({{ package.url.pypi }})
[![Docs]({{ package.url.rtd_badge }})]({{ package.url.docs }})
[![PyPI - Downloads]({{ package.url.pepy_badge }})]({{ package.url.pypistats }})

Type annotations for
[{{ package.library_name }}{% if service_name %} {{ service_name.class_name }}{% endif %} {{ package.library_version }}]({{ package.url.library_pypi }})
compatible with
[VSCode](https://code.visualstudio.com/),
[PyCharm](https://www.jetbrains.com/pycharm/),
[Emacs](https://www.gnu.org/software/emacs/),
[Sublime Text](https://www.sublimetext.com/),
[mypy](https://github.com/python/mypy),
[pyright](https://github.com/microsoft/pyright)
and other tools.

Generated with [{{ builder_package_name }} {{ builder_version }}]({{ builder_repo_url }}).
