from typing import overload, Literal, Iterable, TypedDict

from {{ package.epbunch_path }} import EpBunch

{% for classname in classnames %}
from {{ package.data.pypi_stubs_name }}.{{ classname }} import {{ classname }}
{% endfor %}

IDFObjectsDict = TypedDict('IDFObjectsDict', {
{% for classname, ep_key in overloads %}
    '{{ ep_key }}': list[{{ classname }}],
{% endfor %}
})

class IDF{% if base_class %}({{ base_class }}){% endif %}:
{% for classname, ep_key in overloads %}
    @overload
    def newidfobject(self, key: Literal["{{ ep_key }}"], **kwargs) -> {{ classname }}: ...
    @overload
    def popidfobject(self, key: Literal["{{ ep_key }}"], index: int) -> {{ classname }}: ...
    @overload
    def getobject(self, key: Literal["{{ ep_key }}"], name: str) -> {{ classname }}: ...
    @overload
    def removeextensibles(self, key: Literal["{{ ep_key }}"], name: str) -> {{ classname }}: ...
{% endfor %}

    def newidfobject(self, key: str, **kwargs) -> EpBunch: ...
    @property
    def idfobjects(self) -> IDFObjectsDict: ...
    def popidfobject(self, key: str, index: int) -> EpBunch: ...
    def getobject(self, key: str, name: str) -> EpBunch: ...
    def copyidfobject(self, idfobject: EpBunch) -> EpBunch: ...
    def removeextensibles(self, key: str, name: str) -> EpBunch: ...
    def addidfobject(self, new_object: EpBunch) -> EpBunch: ...
    def removeidfobjects(self, idfobjects: Iterable[EpBunch]) -> list[EpBunch]: ...
    def anidfobject(self, key: str, aname: str = "", **kwargs) -> EpBunch: ...
    def rename(self, objkey: str, objname: str, newname: str) -> EpBunch: ...
