## Usage

### VSCode

- Install [Python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python)
- Install [Pylance extension](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance)
- Set `Pylance` as your Python Language Server
- Install `{{ package.data.pypi_name }}[{{extras_name}}]` in your environment:

```bash
python -m pip install '{{ package.data.pypi_name }}[{{extras_name}}]'
```

Both type checking and code completion should now work.
No explicit type annotations required, write your `{{ package.library_name }}` code as usual.