[project]
name = "{{ package.data.pypi_name }}"
version = "{{ package.version }}"
description = "{{ package.description }}"
readme = "README.md"
authors = [
    { name = "Samuel Letellier-Duchesne", email = "samuelduchesne@me.com" }
]
requires-python = ">=3.9, <4.0"
classifiers = [
    "Typing :: Stubs Only",
    "Programming Language :: Python :: 3",
]
keywords = ["{{ package.library_name }}", "typing", "stubs"]
dependencies = []

{% if package.extras %}
[project.optional-dependencies]
{% for extra in package.extras %}
{{ extra.name }} = ["{{ extra.package }}"]
{% endfor %}
{% endif %}

[build-system]
requires = ["uv_build>=0.8.4,<0.9.0"]
build-backend = "uv_build"
