{# geomeppy idf.pyi.jinja2 #}
from {{ package.epbunch_path }} import EpBunch

class IDF:
    def getsurfaces(self, surface_type: str = "") -> list[EpBunch]: ...
    def getsubsurfaces(self, surface_type: str = "") -> list[EpBunch]: ...
    def getshadingsurfaces(self, surface_type: str = "") -> list[EpBunch]: ...
